/* Général */
body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #eee;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer {
    flex-direction: column;
    text-align: center;
  }
  
  .container {
    padding: 25px;
  }
  
  /* Filtre et recherche */
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filters input,
  .filters select {
    padding: 5px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Liste des enchères */
  .auction-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Carte produit */
  .card {
    border: 1px solid #ccc;
    padding: 15px;
    background: #fafafa;
  }
  
  .card img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    background: #ddd;
  }
  
  .card a {
    text-decoration: none;
    color: #0066cc;
  }
  
  /* Style du footer */
  footer p {
    margin: 5px 0;
  }
  
  footer em {
    font-style: normal;
    font-weight: bold;
  }


  
  /* From Uiverse.io by adamgiebl */ 
  button {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  