@charset "UTF-8";
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 
header, footer {
  background-color: #eee;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
footer {
  flex-direction: column;
  text-align: center;
}

/***********/
/*CSS milor*/
/***********/
ul,ol,li {
	font-size : 1em;
	list-style-type :none;
}

/*gestion bouton connexion*/
.boutonconnect {
	margin : 10px;
	padding : 20px;
}



/*gestion bouton soumission*/
button {
	margin : 10px;
	padding : 10px;
}

button:visited {
	background-color: #008080;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

button:hover {
	background-color: #004040;
}

button a:link, button a:visited {
	background-color: #008080;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

button a:hover, button a:active {
	background-color: #004040;
}

/*gestion tableaux administrateur*/

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #000000;
	color: white;
}

table a:link, table a:visited {
	background-color: #008080;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

table a:hover, table a:active {
	background-color: #004040;
}




/* Style du footer */
footer p {
  margin: 5px 0;
}
 
footer em {
  font-style: normal;
  font-weight: bold;
}