<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administrateur - gestion des catégories</title>

</head>
<body>
	<header> <!--  th:replace="~{fragments/fragment-entete :: entete}"> -->
	</header>
	<main>
		<h1>Liste des catégories</h1>
		<table>
			<!-- build html table based on users -->
			<thead>
				<tr>
					<th>Libellé catégorie :</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${categories}">
					<td th:text="${c.libelle}">libellé</td>
					<td>
						<a th:href="@{/encheres/admin-compte-detail(id=${f.id})}">Supprimer</a>
						<!-- <a th:if="${membreEnSession != null && membreEnSession.id > 0}" data-th-href="@{/avis/creer(idFilm=${f.id})}">Avis</a> -->
					</td>
				</tr>
			</tbody>
		</table>
		<form action="" method="post">
		<fieldset>
			<label for="categorie">Libellé nouvelle catégorie :</label>
			<input type="text" id="categorie" name="categorie" required>
			<button type="submit">Créer</button>
		</fieldset>
		
			
		</form>
	</main>
</body>
</html>
