<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ENI-Enchères</title>
  <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<header>
  <div class="header-bar">
    <a th:href="@{/encheres/affcherAccueil}"><h1>ENI-Enchères</h1></a>

    <div class="user-actions">
      <a th:if="${utilisateur == null}" th:href="@{/encheres/connexion}" class="btn-link">Inscription / Connexion</a>
     <button th:if="${utilisateur != null}" th:text="'Bienvenue, ' + ${utilisateur.pseudo}"></button>
    </div>
  </div>
</header>


<div class="container">
  <h2>Liste des enchères</h2>

  <div class="filters">
    <input type="text" placeholder="Le nom de l’article contient…" />
    <select>
      <option value="" selected>Toutes les catégories</option>
      <option th:each="categorie : ${categories}" th:text="${categorie.libelle}"></option>

    </select>
    <div class="search-bar">
      <button>🔍</button>
    </div>
  </div>

  <div class="enchere-list">
    <div th:each="article : ${articles}" class="card">
      <img width="15" height="15" src="https://img.icons8.com/ios-filled/5000/my-computer--v2.png"
           alt="Image de l’article"/>
      <a th:href="@{/encheres/detail(id=${article.idArticle})}"><p th:text="${article.nomArticle}"></p></a>
      <p><strong>Prix : </strong><span th:text="${article.prixVente}"></span></p>
      <p><strong>Fin de l’enchère : </strong><span th:text="${#temporals.format(article.dateFinEnchere, 'dd/MM/yyyy')}"></span></p>
      <p><strong>Vendeur : </strong> <a th:href="@{/encheres/vendeur(id=${article.utilisateur.idUtilisateur})}"><span th:text="${article.utilisateur.pseudo}"></span></a></p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Aide | Conditions d’utilisation</p>
    <p>Contact e-mail | Mentions légales</p>
    <p>Suivez-nous : @instagram</p>
    <p><em>Projet ENI Informatique</em></p>
  </div>
</footer>
</body>
</html>
