<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ENI-Enchères</title>
  <link rel="stylesheet" th:href="@{.../}" />
</head>
<body>
<header>
  <h1>ENI-Enchères</h1>
  <nav>
    <div class="user-actions">
      <div class="credit-display">
        <span th:if="${utilisateur != null}" th:text="'💰 ' + ${utilisateur.credit} + ' points'">💰</span>
        <span th:unless="${utilisateur != null}">💰 0 point</span>
      </div>

      <button th:if="${utilisateur == null}">Inscription / Connexion</button>
      <button th:if="${utilisateur != null}" th:text="'Bienvenue, ' + ${utilisateur.pseudo}"></button>
    </div>
  </nav>
</header>

<div class="container">
  <h2>Liste des enchères</h2>

  <div class="filters">
    <input type="text" placeholder="Le nom de l’article contient…" />
    <select>
      <option>Toutes</option>
      <option>Informatique</option>
      <option>Sport</option>
      <option>Vêtements</option>
      <option>Véhicules</option>
      <option>Mode</option>
    </select>
    <div class="search-bar">
      <input type="text" placeholder="Rechercher…" />
      <button>🔍</button>
    </div>
  </div>

  <div class="enchere-list">
    <div th:each="enchere : ${encheres}" class="card">
      <img width="15" height="15" src="https://img.icons8.com/ios-filled/5000/my-computer--v2.png"
           alt="Image de l’article"/>
      <p><strong th:text="${enchere.utilisateur.nom}">Nom</strong></p>
      <p><strong>Description :</strong> <span th:text="${enchere.article.nomArticle}">PC Gamer pour jouer</span></p>
      <p><strong>Prix :</strong> <span th:text="${enchere.montantEnchere}">750</span> points</p>
      <p><strong>Fin de l’enchère :</strong> <span th:text="${enchere.dateEnchere}">Date</span></p>
      <p><strong>Vendeur :</strong> <span th:text="${enchere.utilisateur}">Vendeur</span></p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Aide | Conditions d’utilisation</p>
    <p>Contact e-mail | Mentions légales</p>
    <p>Suivez-nous : @instagram</p>
    <p><em>Projet ENI Informatique</em></p>
  </div>
</footer>
</body>
</html>
