<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>Affichage Profil pour Validation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	    <!-- meta pour le référencement -->
	    <meta name="description" content="Site enchères ENI">
		<link rel="stylesheet" data-th-href="@{/css/styleML.css}">
	    <!-- ressource fontawesome -->
	    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
	    <!-- ressource bootstrap -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	</head>
	<body>
		<header role="banner">
			<nav role="navigation">
				<!-- fragment entete -->
			</nav>
		</header>
		<main role="main">
			<section>
				<!--  <h1 id="nav-title">Mon profil</h1> -->
	
				<form>
					<ul class="">
						<li>
							<label for="pseudo">Pseudo :</label>
							<input type="text" id="pseudo" name="pseudo" required>	
						</li>
						<li>
							<label for="nom">Nom :</label>
							<input type="text" id="nom" name="nom" required>
						</li>
						<li>
							<label for="prenom">Prénom :</label>
							<input type="text" id="prenom" name="prenom" required>
						</li>
						<li>
							<label for="email">Email :</label>	
							<input type="email" id="email" name="email" required>
		 				</li>
						<li>
							<label for="tel">Téléphone :</label>
							<input type="tel" id="tel" name="telephone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
						</li>
						
						<li>
							<label for="rue">Rue :</label>
							<input type="text" id="rue" name="rue" required>
						</li>
						<li>
							<label for="codePostal">Code Postal :</label>
							<input type="number" id="codePostal" name="codePostal" minlength="5" minlength="5" maxlength="5"placeholder="75000" required>
						</li>
						<li>
							<label for="ville">Ville :</label>
							<input type="text" id="ville" name="ville" required>
						</li>	
					</ul>		
				</form>
			</section>
			<section>
		<!-- si creation profil etat non connecte : Annuler / si modif profil état connecté : Supprimer mon compte -->
			<!--  <a role="button" class="lienBouton" href="/encheres">Annuler</a> -->
			<button class=boutonValider><a href="/encheres/profil-creer">Modifier</a></button>		
		</section>
		</main>
		
		<footer role="contentinfo">
			<!-- fragment pied de page -->
		</footer>
	
	
	</body>
</html>