<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>S'inscrire - Se connecter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="Site enchères ENI">
		<link rel="stylesheet" th:href="@{/css/view-connexion.css}" />
	</head>
	<body>
	<header>
		<div class="header-bar">
			<a th:href="@{/encheres/affcherAccueil}"><h1>ENI-Enchères</h1></a>
		</div>
	</header>
		<main role="main">
			<section>
				<form action="/encheres/connexion" method="post">
					<ul>
						<li>
							<label for="pseudo">Identifiant :</label>
							<!--  2 possibilités connexions : pseudo ou email -->
		 					<input type="text" id="pseudo" name="pseudo" required>
		 				</li>
						<li>
							<label for="motDePasse">Mot de passe :</label>
							<input type="password" id="motDePasse" name="motDePasse" required>
						</li>
					</ul>
					<fieldset>
					<button class="boutonConnect" type="submit">Connexion</button>
						<div>
							<input type="checkbox" id="souvenir" name="souvenir">
							<label for="souvenir">Se Souvenir de moi</label>
							<a href="/encheres/oubli">Mot de passe oublié</a>
						</div>
					</fieldset>
				</form>
			</section>
			<section>
				<button class="boutonValider"><a href="/encheres/creer-profil">Créer un compte</a></button>
			</section>
		</main>

	<footer class="footer">
		<div class="container">
			<p>Aide | Conditions d’utilisation</p>
			<p>Contact e-mail | Mentions légales</p>
			<p>Suivez-nous : @instagram</p>
			<p><em>Projet ENI Informatique</em></p>
		</div>
	</footer>

	</body>
</html>