<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ENI-Enchères - Connexion</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sketchy/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="text-center mb-4">
          <h1><a href="/encheres" class="text-decoration-none text-dark">ENI-Enchères</a></h1>
        </div>

        <!-- Formulaire de connexion -->
        <div>
          <div class="card-body">
            <form method="post" th:action="@{/utilisateur/connexion}">
              <div class="mb-3">
                <label for="identifiant" class="form-label">Identifiant :</label>
                <input type="text" class="form-control" id="identifiant" name="identifiant" required>
              </div>

              <div class="mb-3">
                <label for="motDePasse" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="motDePasse" name="motDePasse" required>
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="seRemembrer" name="seRemembrer">
                <label class="form-check-label" for="seRemembrer">
                  Se souvenir de moi
                </label>
              </div>

              <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">Connexion</button>
              </div>

              <div class="text-center">
                <a href="#" class="text-decoration-none">Mot de passe oublié</a>
              </div>
            </form>
          </div>
        </div>

        <!-- Bouton de création de compte -->
        <div class="d-grid gap-2 mt-4">
          <a href="/utilisateur/inscription" class="btn btn-outline-secondary btn-lg">Créer un compte</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>