<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Profil création</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Meta pour le référencement -->
	<meta name="description" content="Site enchères ENI">

	<!-- Liens CSS -->
	<link rel="stylesheet" th:href="@{/css/view-profil-creer.css}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<header>
	<div class="header-bar">
		<h1>ENI-Enchères</h1>
	</div>
</header>
<main role="main">
	<section>
		<form th:action="@{/encheres/profil-creer}" method="post" th:object="${utilisateur}">
			<h1 id="nav-title">Mon profil</h1>
			<ul>
				<li>
					<label for="pseudo">Pseudo :</label>
					<input type="text" id="pseudo" th:field="*{pseudo}" required>
				</li>
				<li>
					<label for="nom">Nom :</label>
					<input type="text" id="nom" th:field="*{nom}" required>
				</li>
				<li>
					<label for="prenom">Prénom :</label>
					<input type="text" id="prenom" th:field="*{prenom}" required>
				</li>
				<li>
					<label for="email">Email :</label>
					<input type="email" id="email" th:field="*{email}" required>
				</li>
				<li>
					<label for="tel">Téléphone :</label>
					<input type="tel" id="tel" th:field="*{telephone}" pattern="[0-9]{10}" required>
				</li>
				<li>
					<label for="rue">Rue :</label>
					<input type="text" id="rue" th:field="*{rue}" required>
				</li>
				<li>
					<label for="codePostal">Code Postal :</label>
					<input type="number" id="codePostal" th:field="*{codePostal}" minlength="5" maxlength="5" placeholder="75000" required>
				</li>
				<li>
					<label for="ville">Ville :</label>
					<input type="text" id="ville" th:field="*{ville}" required>
				</li>
				<li>
					<label for="motDePasse">Mot de passe :</label>
					<input type="password" id="motDePasse" th:field="*{motDePasse}" required>
				</li>
				<li>
					<label for="confirmation">Confirmation :</label>
					<input type="password" id="confirmation" th:field="*{motDePasse}" required>
				</li>
				<li>
					<button class="boutonValider" type="submit">Créer</button>
				</li>
			</ul>
		</form>
	</section>
	<section>
		<button class="boutonValider">
			<a href="/encheres/">Annuler</a>
		</button>
	</section>
</main>

<footer role="contentinfo">
	<p>Aide | Conditions d’utilisation | Mentions légales</p>
</footer>
</body>
</html>
