<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>Profil création</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	    <!-- meta pour le référencement -->
	    <meta name="description" content="Site enchères ENI">
		<link rel="stylesheet" data-th-href="@{/css/styleML.css}">
	    <!-- ressource fontawesome -->
	    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
	    <!-- ressource bootstrap -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	</head>
	<main role="main">
		<section>
			
			<form th:action="@{/encheres/profil-creer}" method="post" th:object="${utilisateur}">
			<h1 id="nav-title">Mon profil</h1>
				<ul class="">
					<li>
						<label for="pseudo">Pseudo :</label>
						<input type="text" id="pseudo" th:field="*{utilisateur.pseudo}" required>
					</li>
					<li>
						<label for="nom">Nom :</label>
						<input type="text" id="nom" th:field="*{utilisateur.nom}" required>
					</li>
					<li>
						<label for="prenom">Prénom :</label>
						<input type="text" id="prenom" th:field="*{utilisateur.prenom}" required>
					</li>
					<li>
						<label for="email">Email :</label>	
						<input type="email" id="email" th:field="*{utilisateur.email}" required>
	 				</li>
					<li>
						<label for="tel">Téléphone :</label>
						<input type="tel" id="tel" th:field="*{utilisateur.telephone}" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
					</li>
					
					<li>
						<label for="rue">Rue :</label>
						<input type="text" id="rue" th:field="*{utilisateur.rue}" required>
					</li>
					<li>
						<label for="codePostal">Code Postal :</label>
						<input type="number" id="codePostal" th:field="*{utilisateur.codePostal}" minlength="5" minlength="5" maxlength="5"placeholder="75000" required>
					</li>
					<li>
						<label for="ville">Ville :</label>
						<input type="text" id="ville" th:field="*{utilisateur.ville}" required>
					</li>
					<li>
						<label for="motDePasse">Mot de passe :</label>
						<input type="password" id="motDePasse" th:field="*{utilisateur.motDePasse}" required>
					</li>
					<li>
						<label for="confirmation">Confirmation :</label>
						<input type="password" id="confirmation" th:field="*{utilisateur.motDePasse}" required>
					</li>
					<!-- <input type="hidden" name="idUtilisateur" th:value="${utilisateur.id}"> -->
					<li>
					<!--  si creation de compte  etat non connecté creation profil : Créer / si modif profil etat connecte : Enregistrer -->
						<button class="boutonValider" type="submit">Créer</button>
					</li>
				</ul>
						
			</form>
		</section>
		<section>
		<!-- si creation profil etat non connecte : Annuler / si modif profil état connecté : Supprimer mon compte -->
			<!--  <a role="button" class="lienBouton" href="/encheres">Annuler</a> -->
			<button class=boutonValider><a href="/encheres/">Annuler</a></button>		
		</section>
	</main>
	
	<footer role="contentinfo">
	
	</footer>


</body>
</html>